{% extends "base.html" %}

{% block content %}

<section class="page-title shadow-sm mb-4">
  <h1>
    {% if task %}
      Update Task - {{ task.title }}
    {% else %}
      Create New Task
    {% endif %}
  </h1>

  <div class="d-flex gap-2">
    <a href="{% url 'task:task_list' %}" class="btn btn-outline-dark">
      <i class="bi bi-list-ul"></i> List Task
    </a>
  </div>
</section>

<section class="container py-4 px-4"
  style="border: rgba(96, 79, 96, 0.667) 2px solid;
         border-radius: 12px;
         box-shadow: rgb(214, 214, 214) 2px 6px 10px;">

  <div class="row">
    <div class="col-md-12">

      <form method="post">
        {% csrf_token %}

        <div class="row">

          <div class="col-md-4">
            <label>Title</label>
            <input
              type="text"
              class="form-control"
              name="title"
              value="{{title|default:'' }}"
              required
            >
          </div>

          <div class="col-md-4">
            <label>Status</label>
            <select name="status" class="form-select" required>
              <option value="PENDING"
                {% if status == "PENDING" %}selected{% endif %}>
                Pending
              </option>
              <option value="COMPLETED"
                {% if status == "COMPLETED" %}selected{% endif %}>
                Completed
              </option>
            </select>
          </div>

          <div class="col-md-4">
            <label>Due Date</label>
            <input
              type="date"
              class="form-control"
              name="due_date"
              value="{{ due_date|default:'' }}"
            >
          </div>

          <div class="col-md-12 mt-2">
            <label>Description</label>
            <input
              type="text"
              class="form-control"
              name="description"
              value="{{ description|default:'' }}"
            >
          </div>

          <div class="col-md-12 mt-4">
            <button type="submit" class="btn btn-primary">
              {% if update %}
                Update Task
              {% else %}
                Create Task
              {% endif %}
            </button>
          </div>

        </div>
      </form>

    </div>
  </div>
</section>

{% endblock content %}
