{% extends 'base.html' %}

{% block content %}
<section class="page-title shadow-sm mb-4">
  <h1>All Tasks</h1>
  <div class="d-flex gap-2">
    <a href="{% url 'task:task_add' %}" class="btn btn-outline-dark">
      <i class="bi bi-plus-circle"></i> Create Task
    </a>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">

        <table class="table table-hover table-bordered border-light shadow-sm">
          <thead class="table-dark">
            <tr>
              <th class="text-uppercase py-2 text-center">
                <i class="bi bi-list-task " style="padding: 5px;"></i>Title
              </th>
              <th class=" text-uppercase  py-2 text-center">Description</th>
              <th class=" text-uppercase  py-2 text-center">Date</th>
              <th class=" text-uppercase  py-2 text-center">Status</th>
              <th class=" text-uppercase  py-2 text-center">Action</th>
            </tr>
          </thead>

          <tbody id="task-body"> 
            
          </tbody>
        </table>



      </div>
    </div>

  </div>
</section>


<script>
document.addEventListener("DOMContentLoaded", function () {

  fetch("/api/tasks/", {
    headers: {
      "X-API-KEY": "kdeep@saini@8865@hello" 
    }
  })

  .then(response => response.json())
  .then(result => {
    if (result.status !== "success") {
      alert("Failed to load tasks");
      return;
    }

    const tbody = document.getElementById("task-body");
    tbody.innerHTML = "";

    result.data.forEach(t => {
      tbody.innerHTML += `
        <tr>
          <td class="text-center py-2">${t.title}</td>
          <td class="text-center py-2">${t.description}</td>
          <td class="text-center py-2">
            <i class="bi bi-calendar3 me-2"></i>${t.due_date}
          </td>
          <td class="text-center py-2">
            <span class="badge bg-warning text-dark px-3 py-2">
              ${t.status}
            </span>
          </td>
          <td class="text-center py-2">
            <div class="btn-group btn-group-sm">

              <a href="tasks/update/${t.id}" class="btn btn-outline-primary">
                <i class="bi bi-pencil"></i>
              </a>

              <a href="tasks/info/${t.id}" class="btn btn-outline-info">
                <i class="bi bi-eye"></i>
              </a>

              <button onclick="deleteTask(${t.id})"
                class="btn btn-outline-danger">
               <i class="bi bi-trash3-fill"></i> Delete
              </button>

            </div>
          </td>
        </tr>
      `;
    });
  });
});


function deleteTask(id) {
  if (!confirm("Are you sure?")) return;

  fetch(`api/tasks/delete/${id}`, {
    method: "DELETE",
    headers: {
      "X-API-KEY": "kdeep@saini@8865@hello"
    }
  })
  .then(res => res.json())
  .then(result => {
    if (result.status === "success") {
      location.reload();
    } else {
      alert("Delete failed");
    }
  });
}


</script>

{% endblock content %}